.hide {
  display: none;
}
.show {
  display: inline-block;
}
.box {
  text-align: center;
  color: black;
  font-weight: bold;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -15%;
  margin-bottom: 10%;
  background-color: transparent;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.section.is-large {
  background-image: url(../background.jpg);
  background-size: cover;
  opacity: 0.8;
  color: black;
  font-weight: bolder;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 20%;
  margin-right: 20%;
}
.containerRest hide {
  display: flex;
  flex-direction: column-reverse;
  align-content: space-between;
}
.middle {
  opacity: 0.6;
  background-color: #b3f1bc;
}
